*{
    box-sizing: border-box;
}

body{
     background-color: #fafafa;
    position: relative;
}
.main1{
    align-items: left;
    position: fixed;
    background-color: #ffffff;
    border: #dbdbdb;
    width: 200px;
    height: 100%;
    padding: 5px 10px 0px 5px;
}

.logo img{  
    display: inline-block;
    height: 55px;
    width: 125px;
    padding: 10px 0px 0px 20px;
}
.option{
    display: inline-block;
    margin-top: 50px;
    height: 50px;
    font-size: 250;
    font-style: normal;
    

}

.photo{
    
    width: 50px;
    height:40px;
}
.main{
    width: 300;
    height: 500;
    align-items: center;
    padding: 25px 0px 0px 50px;
    justify-content: space-between;
    background-color: #fafafa;
    border: #dbdbdb;
    margin-left: 450px;
    margin-right: 300px;
}
.storyline{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
 .status{
    padding-top: 30%
    background-color   #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #dfdfdf;
    position: sticky;
    top: 5px;
    width: 400px;
    padding: 10px 10px 10px 10px;
      
}
.status img{
    width: 40px;
    height: 30px;
    border-radius: 5%;
    top: 10px;
    left: 10px;
}
.status p{
    position: absolute;
}
.post{
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 20px;
    background-color: #ffffff;
}
.post img{
    width: 50px;
    height:40px;
}

.post span{
    display: inline;
}
.post-image{
display: block;
    width: 600px;
    height: 800px;

}
.main2{
    padding: 0x 50px ;
    height: 100%;
    position: relative;
    align-items: right;
    margin-left: 850px;
    margin-right: 25px;

}
.suggest{
    width: fit-content;
    display: flex;
    margin-bottom: 10px;
}
.suggest .pc img{
    width: 22px;
    height: 22px;
    border: none;
}
.suggest .username{
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.sg{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;

}

.last{
    color:#dfdfdf;

}