*{
    box-sizing: border-box;
}

body{
     background-color: #fafafa;
    position: relative;
}
.container{
    display: flex;
    justify-content: space-between;
}
.main1{
    align-items: left;
    position: fixed;
    background-color: #ffffff;
    border: #dbdbdb;
    width: 245px;
    height: 100%;
    padding: 5px 10px 0px 5px;
}

.logo img{  
    display: inline-block;
    height: 55px;
    width: 125px;
    padding: 10px 0px 0px 20px;
    top: 10px;
}
.option{
    display: inline-block;
    margin-top: 50px;
    height: 50px;
    font-size: 250;
    font-style: normal;
    

}
.option b{
    position: absolute;
    align-items: center;
    padding-left: 25px;
    width: 60px;
    height: 24px;
    font-weight: 800;
    font-size: 18px;
}
.option img{
    width:24px;
height:24px;}
.option i{
    width:24px;
height:24px;}


.photo{
    
    width: 35px;
    height:30px;
}
.main{
    width: 470px;
    height: 100%;
    align-items: center;
    padding: 25px 0px 0px 50px;
    background-color: #fafafa;
    border: #dbdbdb;
    margin-left: 45%;
    transform: translateX( -50%);
}
.storyline{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 480px; 
    height:110px; 
    margin-bottom: 10%;

}
 .status{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    width: 80px;
}
.status img{
    width: 60px;
    height: 50px;
    border-radius: 5%;
    position: sticky; top: 10px;
}
.status p{
    position: absolute;
}
.post{
    padding-bottom: 10%;
    display: inline-block;
    width: 470px;
    height: 56px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;

}
.post img{
    width: 32px;
    height:32px;
}
.post i{
    padding-left: 300px;
    width: 44px;
    height:40px;
}
.post span{
    padding: 5px;
    width: 360;
    height: 40;
}
.post-image img{
    width: 470px;
    height: 385px;

}
.ds{
    position: relative;
    background-color: #ffffff;
    width: 470px;
    height: 210px;
    display: inline-block;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 10px;
}
.like{

    padding: 2px 5px 2px 0px;
}
.like i{
   display: inline;
    width: 40px;
    height: 40px;
    margin-right: 2px;
}
.like p{
    display: inline;
    margin-left: 335px;
}
.number{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cm{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8989AB;
}
.date{
    color: #B9B9B9;
}
.add{
    border-radius: 2px;
    border-color: #cccccc;
    display: flex;
    align-items: center;
    }
.add span{
    padding-right: 5px;
    color: #989898;
}
.gap{
    margin-left: 270px;
}
.add i{
    width: 24px;
    height: 24px;
}

.main2{
    padding: 50px ;
    width: 319px;
    height: 298px;
    position: relative;
    align-items: center;
   display: inline-block;
    padding-right: 250px;
    transform: translateX( -50%);
    }

.suggest{
    width: 319px;
    height: 48px;
    display: flex;
    display: absolute;
    align-items: center;
    
}
.suggest span{
    margin-left: 80px;
    color: #199ff6;
width: 35px;
height: 11px;
}
 .pc img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
    border-radius: 70%;
}
 .username{
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.username i{
    width: 32px;
height: 32px;}
.sg {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #717171;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 319px;
    height: 44px;
    padding-right: 250x;
    

}
.sg span{
    margin-left: 65px;
    color: #484848;
}

.l1{
    width: 319px;
    height: 44px;
}
.last{
    
    color:#dfdfdf;

}
@media only screen and (max-width: 300px){
    .main1{
        display:none;
    }
}
    @media only screen and (max-width: 600px){
    .main2{
        display: none;
    }
}
